body {
	background: url("images/f4-vente.png"); no-repeat center center fixed; 
    background-size: cover;
}

home {
	background-color: red;
	position: absolute;
	top: 10%;
	left: 43%;
}

accessButton {
	position: absolute;
	top: 10%;
	left: 43%;
}

a.access {
	display:block;
	padding: 2%;
}
content {
	position: absolute;
	bottom:-5%;
	left:5%;
	opacity:0.9;
	/*height:47%;*/
	width:35%;
}

countdown {
	position:absolute;
	left:14%;
	top:5%;
}